body {
    background: #b2d8d8;
    height: 100vh;
    padding: 0;
  }
.image-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}
.card {
    max-width: 275px !important; 
    height: auto;
    margin: 10px;
}

.body {
    padding: 50px;
    
}

card-img-top {
    width: 100%;
  }
